.header__logo {
    margin: 0 0 41px;
    padding: 0;
    width: 142px;
    height: 33px;
  }
  
  @media screen and (max-width: 480px) {
    .header__logo {
      width: 104px;
      height: 24px;
      margin-bottom: 31px;
      margin-left: 27px;
    }
  }