.header {
    width: calc(100% - 400px);
    display: flex;
    margin: 0 auto 36px;
    flex-direction: column;
    padding-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1120px) {
    .header {
      width: calc(100% - 200px);
    }
  }
  
@media screen and (max-width: 768px) {
    .header {
      width: calc(100% - 100px);
    }
  }
  
@media screen and (max-width: 480px) {
    .header {
      padding-top: 28px;
      margin-bottom: 38px;
      width: 100%;
      margin: 0 auto 38px;
    }
  }
