.root {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #000;
    min-height: 100vh;
    min-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
  }