.footer {
    width: calc(100% - 400px);
    display: flex;
    margin: 0 auto;
    max-width: 880px;
    padding: 67px 0 60px 0;
  }
  
  @media screen and (max-width: 1120px) {
.footer {
      width: calc(100% - 200px);
    }
  }
  
  @media screen and (max-width: 768px) {
.footer {
      width: calc(100% - 100px);
    }
  }
  
  @media screen and (max-width: 480px) {
.footer {
      width: calc(100% - 38px);
      padding: 48px 0 36px 19px;
    }
  }